

<div style="width: 95%"class = "login-panel">
  <h1>The Mission</h1>
  <hr width="3" size="85%">
  <p>School can be difficult at times. We are here to help you connect with the people in your classes and perhaps get you that A!</p>
  <p>MyStudyGroup is here to help you form groups with people taking the same class, share notes amongst peers, set up meetings for projects, plan exam study sessions, and many more!</p>
</div>
