<% if is_admin? %>
    <div class="admin-panel-small panel-default">
      <h1>Editing User</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @user %> |
      <%= link_to 'Back', '/admin/users' %>
    </div>
<% elsif is_logged_in? %>
    <div class="user-panel-small panel-default">
      <h1>Your Profile</h1>

      <%= render 'updateProfile', user_id: @user_id %>

      <a href="javascript:history.back()">Go Back</a>

    </div>

<% end %>
