

<div style="width: 100%; overflow:hidden;">

  <div class="home-panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">mystudygroup</h3>
    </div>
    <hr>
  <div class="panel-body">
      <p class="lead">MyStudyGroup provides a platform for students who want to find a study partner or group nearby. The application will provide a user’s own profile and features including: creating groups, finding people with the same course near you, pinning "study spots" for locations to study at, private chatting with group members and document sharing amongst groups.</p>
      <hr class="my-4">
      <p>The target users are mainly university students (age 18-23) who have the need for seeking for study partners or groups in school.</p>
    </div>
  </div>

</div>
