.background-image {
  background-image: image_url('sfu-min.jpg');
  background-size: cover;
  display: block;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 800px;
  left: 0;
  position: fixed;
  z-index: -1;
  right: 0;
}

.home-panel {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  margin-top: 50px !important;
  margin: auto;
  width: 500px;
  max-width: 600px;
  padding: 10px;
}

// nav.sidebar nav.navbar-default nav.navbar{
//   width: 200px;
//   height: 100%;
//   margin-left: -160px;
//   float: left;
//   margin-bottom: 0px;
//   background: rgba(255, 255, 255, 0.75);
//   border-radius: 3px;
//   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
// }
nav.sidebar{
  width: 200px;
  // height: 100%;
  float: left;
  margin-bottom: 0px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
