// Place all the styles related to the StudySpot controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sidebar {
  list-style-type: none;
  overflow: scroll;
  height: 400px;
  padding: 10px;
  background-color: #cccccc;
  .study-spot-card {
    height: 150px;
    overflow: auto;
    background-color: white;
    margin-bottom: 5px;
  }
  .study-spot-thumb {
    vertical-align: middle;
    float: left;
    max-height: 75px;
    max-width: 75px;
  }
  .study-spot-thumb img {
    width: 100%;
    height: 100%;
    display: block;
  }
}
