.signup-panel {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  margin-top: 50px !important;
  margin: auto;
  width: 500px;
  max-width: 600px;
  padding: 10px;
}

.signup-panel-title {
    text-align: center !important;
}

.signup-panel-body {
  margin-left: 20px;
  margin-right: 20px;
}

.signup-btn {
  width: 100%;
}

.user-panel {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  margin-top: 50px !important;
  margin: auto;
  width: 80%;
  height: 80%;
  max-width: 1000px;
  padding: 10px;
}

.user-panel-small {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  margin-top: 50px !important;
  margin: auto;
  width: 300px;
  max-width: 600px;
  padding: 10px;
}

.user-panel-title {
  text-align: center !important;
}

.user-panel-body {
  margin-left: 20px;
  margin-right: 20px;
}

.user-btn {
  width: 100%;
}

.jumbotron {
  background: rgba(255, 255, 255, 0.75) !important;
  width: 50% !important;
  margin: auto;
}
